@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
}

.prose {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

.prose p {
  margin-bottom: 1.25em;
  line-height: 1.7;
}